* {
    margin-left: 5px;
}

.gif {
    height: auto;
    width: auto;
}

img {
    height: auto;
    width: 500px;
  }

.navigation {
    font-size: 18px;
    margin: 0px;
}

h1, h2, h3, .navigation {
    font-family: Helvetica, sans-serif;
}
  
a:hover {
    background: #ffff00;
}