* {
    margin-left: 5px;
}

#container {
    max-width: 650px;
    margin: auto auto;
    text-align: left;
}

.gif {
    height: auto;
    width: auto;
}

img {
    height: auto;
    width: 500px;
  }

.navigation {
    font-size: 18px;
    margin: 0px;
}

h1, h2, h3, .navigation {
    font-family: Helvetica, sans-serif;
}
  
a:hover {
    background: #ffff00;
}